@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1748492075762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e603";
}

.icon-yueliang1:before {
  content: "\e616";
}

.icon-taiyang:before {
  content: "\e69d";
}

.icon-yueliang2:before {
  content: "\e6cc";
}

.icon-yueliang3:before {
  content: "\e75d";
}

.icon-yueliang4:before {
  content: "\e6a2";
}

